[package]
name = "axum1"
version = "0.1.0"
edition = "2021"
authors = ["Peter Leeh <leeh123peter@gmail.com>"]
license = "MIT OR Apache-2.0"
description = "A backend for recipe app"

[dependencies]
# for idiomatic error handling
anyhow = "1.0.57"
thiserror = "1.0.31"
# our choice as a web framework, and other related utilities
axum = { version = "0.5.7", features = ["json", "headers"] }
tokio = { version = "1.18.0", features = ["full"] }
uuid = { version = "1", features = ["v4", "serde"] }
axum-extra = { version = "0.3.4", features = ["cookie", "cookie-signed", "form"] }
tower-http = { version = "=0.3.4", features = ["add-extension", "trace", "cors", "fs"] }
# for handling dates
chrono = { version = "0.4.19", features = ["serde"] }
time = { version = "0.3.9", features = ["formatting", "serde", "serde-well-known"] }
# for configuration and auxiliary things
config = "0.13.1"
dotenv = "0.15.0"
rand = "0.8.5"
# (de)serialization
serde = { version = "1.0.137", features = ["derive"] }
# database interaction
sqlx = { version = "0.6.0", features = ["runtime-tokio-rustls", "any", "postgres", "json", "macros", "chrono", "uuid", "migrate", "offline", "bigdecimal"], default-features = false }
# tracing and logging utilites
sentry = "0.27.0"
tracing = "0.1.34"
tracing-subscriber = { version = "0.3.11", features = ["env-filter"] }
log = "0.4.14"
# password hashing
argon2 = { version = "0.4", features = ["std"] }
# for avoiding exposing sensitive information
secrecy = { version = "0.8.0", features = ["serde"] } 
# session ext
tower = "0.4.13"
futures = "0.3"
async-session = "3.0.0"
async-redis-session = { path = "../async-redis-session" }
# emails
reqwest = { version = "0.11", default-features = false, features = ["json", "rustls-tls"] }
# searching
meilisearch-sdk = "0.17"
serde_json = "1.0.82"
oauth2 = "4.2.3"

[dev-dependencies]
axum-macros = "*"
